*{
    font-family: noto sans;
    margin: 0;
    box-sizing: border-box;
    }
    
    body{
        background-color: rgb(29, 28, 28);
      
    
    }
    
    header{
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    #logopixHeader{
        position: relative;
        top:7px
    }

    h1{
        color: aliceblue;
        font-weight: 800;
        display: flex;
        justify-content: center;
    }
 
    h3{
        color: aliceblue;
        
    }
    p{
        color: rgb(189, 209, 226);
        padding-bottom: 20px;
    }
    a{
        color: rgb(43, 143, 43);
    }